.pai-login {
  background-image: url('../images/background.png');
  mix-blend-mode: luminosity;
  height: 100vh;
  background-size: cover;
  background-color: #19a874;
  mix-blend-mode: luminosity;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 525px;
  height: 356px;
  padding: 15px;
  background: #ffffff;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.btn {
  background-color: #003be5;
}

.input {
  border: 1px solid #003be5;
  width: 330px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #003be5;
}

.input::placeholder {
  color: #003be5;
  opacity: 0.5;
  font-weight: 700;
}
