.header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: 950px;
  margin: auto;
  align-items: center;
  background-color: #fffffffd;
  border-radius: 5px 5px 0px 0px;
}

.total {
  display: flex;
  align-items: center;
  color: #003be5;
}
.coin-icon {
  font-weight: 700;
  font-size: 25px;
}

.total-sum-text {
  color: #003be5;
  font-weight: 700;
}

.total-sum-number {
  display: flex;
  align-items: center;
  color: #003be5;
  margin-left: 5px;
}

.user-email {
  display: flex;
  color: #2fc18c;
  gap: 10px;
  font-weight: 600;
}
